.postsBlock {
    padding: 10px;
    grid-area: posts;
    border-right: solid white 1px;
}

.posts {
    margin-top: 8px;
    border: white solid 1px;
}

.formText {
    min-height: 80px;
    grid-area: textAreaInput;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-areas: "textArea buttonText"
}

.formText button {
    height: 80px;
    grid-area: buttonText;
    background-color: #4db2ef;
}
.formText button:hover {
    background-color: rgba(77, 178, 239, 0.38);
}
.formText button:active {
    background-color: #4300be;
}


.textAreaInput {
    grid-area: textArea;
    min-height: 72px;
    min-width: 99%;
    resize: none;
}