
.appHeader {
    grid-area: app-h;
    background-color: #4db2ef;
    border-bottom: white solid 1px;
    height: 62px;
  }
  
  .appHeader img {
    height: 60px;
  }

  .loginBlock {
      float: right;
  }
  