.description {
    padding: 10px;
}

.imgHead img {
    height: 300px;
}

.description {
    /*background-image: url("https://ic.pics.livejournal.com/dergachev_va/58474394/4085016/4085016_original.png");*/
background-color: whitesmoke;
    display: flex;
    flex-direction: row;
  justify-content: flex-start;
}
.descriptionTextInfo {
    margin: 0 auto;
}