.description {
    padding: 10px;
}

.imgHead img {
    height: 300px;
}

.description {
    background-color: #258495;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.descriptionTextInfo {
    margin: 0 auto;
}