.description {
    padding: 10px;
}

.imgHead img {
    height: 300px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.descriptionTextInfo {
    margin: 0 auto;
}

.parentDivProfileInfo {
    height: 95vh;
    grid-area: profileInfo;
    border-left: solid white 1px;
}