.item {
    display: grid;
    color: rgb(185, 35, 35);
    grid-template-areas:
    "avatar messagePost"
    "avatar footerPost ";
    grid-template-columns: 1.2fr 10fr;
}

.item {
    grid-area: messagePost;
}

.avatarPost {
    height: 75px;
    grid-area: avatar;
    border-right: white solid 1px;
}

.footerPost {
    grid-area: footerPost;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 85%;
}

.footerPost img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.footerPost img:active {
    transform: scale(1.4);
}
