* {
    box-sizing: border-box;
}

body {
    background-color: #00c3f4;
}

.appWrapper {
    display: grid;
    grid-template-areas:
    "app-h app-h"
    "app-n app-c ";
    grid-template-columns: 2fr 10fr;
}

.appWrapperContent {
    grid-area: app-c;
}
