.dialogs {
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-areas: "messages names"
                        "textAreaInput names";
}

.dialogsItems a {
    padding: 10px;
    color: whitesmoke;
    text-decoration-line: none;
}

.parentDialogsItem {
    grid-area: names;
}

.dialogsItems .activeLink {
    color: red;
}

.dialogsItems:hover {
    background-color: rgb(13, 156, 90);
    color: gray;
}

.messages {
    color: rgb(67, 0, 190);
    background-color: rgb(255, 255, 255);
  margin: 5px;
    padding: 10px;

}

.parentMessages {
    grid-area: messages;
    height: 400px;
    overflow-y: auto;
    background-color: #4db2ef;
}

.parentMessages::-webkit-scrollbar {
    width: 10px;
    border: 1px solid white;
    overflow: visible;
}
.parentMessages::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgba(255, 255, 255, 0.23);
    border: 1px solid grey;
    border-radius: 100px;
}

.avatarka {
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    border-radius: 100%;
    vertical-align: middle;
}

.formText {
    min-height: 80px;
    grid-area: textAreaInput;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-areas: "textArea buttonText"
}

.formText button {
    height: 80px;
    grid-area: buttonText;
}

.textAreaInput {
    grid-area: textArea;
    min-height: 72px;
    min-width: 99%;
    resize: none;
}