.appNav {
    height: 300px;
    grid-area: app-n;
    background-color: #00b1d0;
    padding: 30px;
    text-align: left;

}

.item a {

    color: rgb(245, 245, 245);
    text-decoration-line: none;
    width: auto;
}

.item a.activeLink {
    color: red;
    width: 200px;
}

.item:hover {
    background-color: rgb(13, 37, 156);
    color: gray;
}