.appNav {

    min-height: 89vh;
    grid-area: app-n;
    background-color: #00c3f4;
    text-align: left;
    border-right: white solid 1px;
}

.appNav img {
    height: 40px;
}

.item {
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item a {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    width: 100%;
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
}

a.activeLink {
    color: #000000;
}

.item:hover {
    background-color: rgba(66, 92, 237, 0.37);
    color: gray;
}

.item:hover img {
    color: gray;
    transform: scale(1.3);
}